body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(45deg, #3498db, #f4f4f4);
  color: #333;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 80%;
  padding: 20px;
  background-color: #ecf0f1; /* Light gray background color */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Enhanced box shadow */
  border-radius: 10px;
  text-align: center;
}

.quote {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

select,
button,
input[type="range"],
input[type="checkbox"] {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.dark-mode .container {
  background-color: #333;
  color: #fff;
}
